<!DOCTYPE html>
<html lang="pt-BR">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Underground Fashions Login</title>

<link rel="stylesheet" href="/login.css">

</head>

<body>

<div class="container">

    <div class="left">

    

        <h1>
            Bem-vindo à <br>
            Underground Fashions!
        </h1>

        <form>

            <label>Email</label>

            <input
                type="text"
                id="email"
                placeholder="Digite seu email"
            >

            <label>Senha</label>

            <input
                type="password"
                id="senha"
                placeholder="Digite sua senha"
            >

            <div class="options">
                <a href="#">
                    Esqueci minha senha
                </a>
            </div>

            <button
                type="button"
                onclick="login()"
            >
                Entrar
            </button>

            <p class="cadastro">
                Sem cadastro?
                <a href="/cadastro">Crie aqui</a>
            </p>
            <div class="social-login">

    <button class="google-btn">
        <img src="/google.png" alt="Google">
        Google
    </button>

    <button class="facebook-btn">
        <img src="/facebook.png" alt="Facebook">
        Facebook
    </button>

</div>

        </form>
</div>

<div class="right">
    <img src="/login.png" alt="Underground">
</div>

</div>

<script src="/login.js"></script>

</body>
</html>

7